	@using ArtSkill_03._2.Service

<div id="copyright">
<ul class="links">
<li><a href="/" id="logo">@Config.ShopEmail</a></li><li><a asp-area="" asp-controller="Home" asp-action="Privacy">Правила магазина</a></li>
</ul>
</div>