<section id="header">
					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<section class="first">
										<i class="icon solid featured fa-cog"></i>
										<header>
											<h2>Покупка</h2>
										</header>
										<p>Для совершения покупки необходимо зарегестрироваться.</p>
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section class="middle">
										<i class="icon solid featured alt fa-bolt"></i>
										<header>
											<h2>Товар</h2>
										</header>
										<p>Весь представленый товар является цифровым.</p>
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section class="last">
										<i class="icon solid featured alt2 fa-star"></i>
										<header>
											<h2>Получение товара</h2>
										</header>
										<p>Купленый товар можно отправить на выбранный вами адресс электроной почты или социальной сети.</p>
									</section>
								</div>
							</div>
						</section>

				</section>
